@font-face {
    font-family: Mjolnir;
    src: url(../fonts/Mjolnir.ttf);
}

@font-face {
    font-family: Connemara;
    src: url(../fonts/ConnemaraOldStylePro-Bold.ttf);
}

* {
    font-family: Mjolnir, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #e2c1be;
    color: #894b5d;
    margin: 50px;    
    align-content: center;
    align-self: center;
    text-align: center;
}

div.homepage {
    text-align: center;
    align-content: center;
}

div.homepage.text {
    font-size: 150%;
}

div.recipe.text {
    align-self: center;
    max-width: 600px;
    margin: auto;
    text-align: justify;
}

img {
    height: auto;
    max-width: 600px;
}